.todo-card {
  --main-background: #eee;

  border: 1px solid var(--secondary-background);
  border-radius: 16px;
  padding: 8px;
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  cursor: pointer;

  transition:
    width 1s,
    gap 1s,
    border-width 0.2s,
    border-radius 0.2s,
    background-color 0.2s
  ;

  &:not(.todo-card--completed):hover {
    background-color: var(--main-background);
  }
}

.todo-card--expanded {
  width: 100%;
  border-left: none;
  border-right: none;
  border-radius: 0;
  gap: 8px;

  /*For card contraction to work well,
  all the items inside the expanded card
  must occupy the space of their content*/
  & > * {
    width: fit-content;
  }
}

.todo-card--completed {
  background-color: var(--secondary-background);
  
  & .title {
    text-decoration: line-through;
  }
}

.todo-info {
  width: 100%;
}

.description {
  color: var(--secondary-text);
  white-space: pre-wrap;
  display: block;
  width: 100%;
}

.priority {
  --label-color: var(--secondary-background);
  background-color: var(--label-color);
  color: #fff;
  font-weight: bold;
  width: fit-content;
  border-radius: 16px;
  padding: 4px 8px;
  font-size: small;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.75;
  }
}

.priority--high {
  --label-color: #ff0000;
}

.priority--medium {
  --label-color: #e5ff00;
}

.priority--low {
  --label-color: #22ff00;
}

input[type="checkbox"] {
  flex-shrink: 0;

  appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid var(--secondary-text);
  border-radius: 50%;
  cursor: pointer;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  box-shadow: inset 1em 1em #22ff00;

  transition: transform 0.2s;

  /*Checkmark*/
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}