#todos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-btn {
  display: grid;
  place-content: center;
  border: none;
  background: none;
  
  cursor: pointer;

  &:hover {
    animation: shake 0.2s;
  }
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(-25deg); }
  75% { transform: rotate(25deg); }
  100% { transform: rotate(0); }
}

.icon-btn--rounded {
  border: 1px solid var(--secondary-background);
  border-radius: 50%;
  padding: 8px;
  background-color: var(--secondary-background);

  transition: background-color 0.2s;

  &:hover {
    background-color: var(--main-background);
  }
}