.description {
  display: none;
  opacity: 0;
  color: var(--secondary-text);
  white-space: pre-wrap;
  width: 100%;

  transition-property: opacity, display, color, text-decoration;
  transition-duration: 0.25s;
  transition-behavior: allow-discrete;

  &:not(.hidden) {
    opacity: 1;
    display: block;
  }
}

@starting-style {
  .description:not(.hidden) {
    opacity: 0;
  }
}