.menu {
  display: flex;
  flex-direction: column;
}

.menu__title {
  font-weight: bold;
  color: var(--secondary-text);
  margin-bottom: 4px;
}

.menu__fallback {
  font-style: italic;
  color: var(--secondary-text);
}