#sidebar {
  flex: 0 1 350px;
  background-color: var(--sidebar-background);
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

#projectsMenu {
  height: 450px;
  overflow-y: auto;
  scrollbar-width: thin;
}