#sidebar {
  max-width: 350px;
  flex: 1 0 350px;
  background-color: var(--secondary-background);
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

#projectsMenu {
  height: 450px;
  overflow-y: auto;
  scrollbar-width: thin;
}