:root {
  --secondary-text: #474747;
  --secondary-background: #ccc;
  --main-background: #fff;
  --danger: #f50000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: "Rubik Variable", serif;
}

#app {
  height: 100vh;
  display: flex;
  font-family: "Nunito Variable", sans-serif;
}

.title {
  font-weight: bold;
  color: var(--secondary-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

[contenteditable] {
  outline: none;
  cursor: text;
  text-decoration: 1px underline transparent;

  transition: text-decoration 0.25s;

  &:hover {
    text-decoration-color: currentColor;
  }
}

.btn {
  --btn-color: #ccc;

  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: #fff;
  font-weight: bold;
  font-size: smaller;
  padding: 8px 16px;
  cursor: pointer;

  transition: opacity 0.2s;
  &:hover {
    opacity: 0.75;
  }
}