:root {
  --secondary-text: #474747;
  --secondary-background: #ccc;
  --main-background: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input {
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: "Rubik Variable", serif;
}

hr {
  border: none;
  border-top: 1px solid #999;
}

#app {
  height: 100vh;
  display: flex;
  font-family: "Nunito Variable", sans-serif;
}

.title {
  font-weight: bold;
  color: var(--secondary-text);
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}