.todo-card {
  --main-background: #eee;

  border: 1px solid var(--secondary-background);
  border-radius: 16px;
  padding: 8px;
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  cursor: pointer;

  transition:
    width 1s,
    gap 1s,
    border-width 0.2s,
    border-radius 0.2s,
    background-color 0.2s;

  &:not(.todo-card--completed):hover {
    background-color: var(--main-background);
  }
}

.todo-card--expanded {
  width: 100%;
  border-left: none;
  border-right: none;
  border-radius: 0;
  gap: 8px;

  /*For card contraction to work well,
  all the items inside the expanded card
  don't have to occupy more space than 
  their content*/
  & > * {
    width: fit-content;
  }
}

.todo-card--completed {
  background-color: var(--secondary-background);

  & .title {
    text-decoration: line-through;
  }
}